version: '3.1'
services:
  postgres:
    build:
      context: .
      dockerfile: Dockerfile.postgres
    container_name: postgres_container
    ports:
      - 5432:5432
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    networks:
      network-banco:
        ipv4_address: 175.20.0.2

  pgAdmin4:
    container_name: pgAdmin4-interface
    image: dpage/pgadmin4
    environment:
      PGADMIN_DEFAULT_EMAIL: pgadmin4@pgadmin.org
      PGADMIN_DEFAULT_PASSWORD: pgadmin4
    depends_on: 
      - postgres
    ports:
      - 8080:80
    networks:
      network-banco:
        ipv4_address: 175.20.0.3

  nodejs:
    build:
      context: .
      dockerfile: Dockerfile.nodejs
    image: node
    container_name: nodejs-interface
    working_dir: /lbd
    command:  npm run dev
    environment:
      LOGIN_EMAIL: pgadmin4@pgadmin.org
      PASSWORD: pgadmin4
      DATABASE_URL: postgres://todoapp@postgres/todos
    depends_on: 
      - postgres
    ports:
      - 9009:9009
    volumes:
      - .:/lbd
    networks:
      network-banco:
        ipv4_address: 175.20.0.4

networks:
  network-banco:
    driver: bridge
    ipam:
      driver: default
      config:
        - subnet: 175.20.0.0/24
